@using DataAccessLayer.EntityFramework;

@model List<PriceList>

@{
    ViewBag.Title = "Прайсы";
}

<main>
    <h1>@ViewBag.Title</h1>

    <a class="btn btn-outline-success" href="@Url.Action("AddPriceList", "PriceList")">+ Добавить прайс-лист</a>

    <table id="my-table">
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PriceList priceList in Model)
            {
                <tr>
                    <td>@priceList.Id</td>
                    <td><a href="@Url.Action("GetPriceListById", "PriceList", new { id = priceList.Id })">@priceList.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
</main>

<script>
    $(document).ready(function () {
        $('#my-table').dataTable();
    });
</script>